html {
  background: url("bg1.png") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  line-height: 1;
  margin: 5%;
}

h1 {
	font-family: "Amatic SC", cursive;
	font-size: 6em;
}

p {
	font-family: "Arapey", serif;
	font-size: 2em;
}

input[type=range] {
	width: 50%;
}

table {
	width: 95%;
	padding: 2%;
	border-radius: 20px;
	border: 1px solid black;
}

td {
	font-family: "Arapey", serif;
	font-size: 2em;
}

button {
	-webkit-transition-duration: 0.4s; /*For Safari users*/
  	transition-duration: 0.4s;
	font-family: "Amatic SC", cursive;
	font-size: 25px;
	background: none;
	border: none;
	padding: 5px;
}

button:hover {
	-webkit-transition-duration: 0.4s; /*For Safari users*/
  	transition-duration: 0.4s;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	background: black;
	color: white;
}

/*input[type=checkbox] {
	visibility: hidden;
}*/

/*.check_box {
	display: none;
}*/

/*font-family: 'Amatic SC', cursive;
font-family: 'Arapey', serif;*/