<!DOCTYPE html>
<html>
	<head>
		<link rel=stylesheet type=text/css href="static/stylesheet.css?version=44">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Anonymous+Pro|Arvo" rel="stylesheet"> <!-- add Google fonts -->	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<title>Calmmute</title>
	</head>	

	<body>
		<center><h1>Calmmute.</h1></center>

		<!-- <center><table>
			<tr>
				<th><iframe width="90%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/274816437&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></th>
				<div id="activity"></div>
				<script>

				var act = "";
				act += '<th><center>{{ pose }}<br/><form method="GET" action="/"><input type="submit" name="change_pose" value="Change Pose"/></form><br/><br/>';
				act += '<video loop width="90%" controls autoplay><source src="{{ video }}" type="video/mp4"></video></center><br/></th>';
				act += '</tr><tr><td></td><td>{{ description }}</td>'
				document.getElementById("activity").innerHTML = act;
				</script>
			
			</tr>
		</table></center> -->
	</body>

</html>

