<!DOCTYPE html>
<html>
	<head>
		<link rel=stylesheet type=text/css href="static/stylesheet.css?version=5">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Arapey" rel="stylesheet"> <!-- add Google fonts -->	
		<title>Calmmute</title>
	</head>	

	<body>
		<center><h1>Welcome to Calmmute.</h1></center>

		<!-- Switch between music and podcasts = form --> 
		<!-- Interface (with start/stop/skip buttons) -->
		<p>Insert music/podcast player here</p>

		<!-- Display information about file that is playing = retrieve from input data -->
		<p>Display information about what's playing here</p>

		<!-- Related activity cards - meditation track = yoga pose? plain music = game -->
		<p>Insert related activity here</p>
		
		<!-- Feedback form with... emotion buttons? -->
		<p>Feedback form here</p>
		
		
	</body>

</html>