<!DOCTYPE html>
<html>
	<head>
		<link rel=stylesheet type=text/css href="static/stylesheet.css?version=51">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Anonymous+Pro|Arvo" rel="stylesheet"> <!-- add Google fonts -->	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<title>Calmmute</title>
	</head>	

	<body>
		<div class="container"><center><h1>How long can you stay?</h1>
		<br/><br/>
		<form method="POST" action="/calmmute">
		  <input type="number" name="time" min="0" max="60">
		  <input type="submit">
		</form></center>
		</div>
	</body>

</html>

